body {    
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 20px;
    margin: 0%;
    padding: 0%;
}
header {
    background-color: #D80;
    padding: 24px;
    height: 10px;
    padding-top: 1px;
    color: white;
}
footer {
    background-color: #D80;
    padding: 24px;
    height: 10px;
    padding-top: 1px;
    color: white;
    font-size: 20px;
    font-style: inherit;
}
.h-text {
    padding: -5%;
    color: honeydew;
    font-size: 132%;
    padding: -5%;
    padding-top: -81%;
    display: inline;
    top: 35%;
}

.body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttons {
    background: #FDF6E3;
    float: left;
    padding-block: 7px;
    padding-left: 179px;
    padding-right: 6px;
}

.left-body {
    order: 1;
    background: #FDF6E3;
}

.right-body {
    order: 2;
    overflow: hidden;
    flex:auto;
}

.editor {
    display: inline-flex;
    padding: 20px;
}

.line-numbers {
    width: 20px;
    background-color: #efe4c1;
    text-align: center;
}

.line-numbers span::before {
    background-color: #efe4c1;
    margin-top: -38px;
    margin-left: -8px;
    content: counter(linenumber);
}

.line-numbers span {
    counter-increment: linenumber;
    display: block;
}
textarea {
    overflow-y: hidden;
    padding: 1px;
    border: none;
    min-width: 400px;
    outline: none;
    resize: none;
    background-color: #FDF6E3;
    font-size: inherit;
}

.stack-call {
    float: left;
    background-color: white;
    padding: 20px;
}

.web {
    float: left;
    background-color: white;
    padding: 21px;
    height: 350px;
}

.queue {
    background-color: white;
    width: 70%;
    left: 411px;
    padding: 20px;
    margin-bottom: 86px;
    margin-top: 405px;
    padding-bottom: 23px;
}

.child-stack,
.child-queue,
.child-web {
    border: 2px #ddd dashed;
    padding: 2px 1px 1px 5px;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
}

.child-queue {
    overflow-y: scroll;
}

.child-web {
    padding-left: 18px;
    width: 795px;
}

.c-child-stack {
    padding-bottom: 306px;
    padding-left: 4px;
}

.c-child-web {
    padding-bottom: 306px;
    padding-left: 13px;
}

.c-child-queue {
    padding: 101px;
}

.help {
    float: right;
    background-color: #D80;
    font-size: larger;
    color: white;
}

.button{
    border-radius: 8px;
}



.fa-sync-alt {
    font-size:60px;
    color:darkorange;
}

.fas-fa-sync-alt {
    font-size: 100px;
    color: black;
}

.settings-button {
    border: none;
    background: none;
    color: #eee;
    font-size: 30px;
    margin: 0;
    padding: 0;
    margin-right: 13px;
    margin-top: -5px;
}

