body {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  font-size: 20px;
  margin: 0%;
  padding: 0%;
}
header {
  background-color: #d80;
  padding: 24px;
  height: 10px;
  padding-top: 1px;
  color: white;
}
footer {
  background-color: #d80;
  color: white;
  padding-top: -25px;
  display: flex;
  justify-content: flex-start;
}
.h-text {
  padding: -5%;
  color: honeydew;
  font-size: 132%;
  padding: -5%;
  padding-top: -81%;
  display: inline;
  top: 35%;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.b{
  float: right;

}

#b1,#b2,#b3,#b4{
  display: none;
  float: right;
}

.left-body {
  order: 1;
  background: #fdf6e3;
}

.right-body {
  order: 2;
  overflow: hidden;
  flex: auto;
}
.upper-body {
  display: flex;
  float: left;
}

.editor {
  display: inline-flex;
  padding: 20px;
}

.line-numbers {
  width: 20px;
  background-color: #efe4c1;
  text-align: center;
  margin: 0px;
  padding-left: 10px;
  margin-left: -19px;
}

.line-numbers span::before {
  background-color: #efe4c1;
  margin-top: -38px;
  margin-left: -8px;
  content: counter(linenumber);
}

.line-numbers span {
  counter-increment: linenumber;
  display: block;
}
textarea {
  overflow-y: hidden;
  padding: 1px;
  border: none;
  min-width: 400px;
  outline: none;
  resize: none;
  background-color: #fdf6e3;
  font-size: inherit;
}

.stack-call {
  float: left;
  background-color: white;
  padding: 20px;
  width: 19%;
}

.web {
  background-color: white;
  padding: 21px;
  height: 350px;
  float: right;
}

.queue {
  background-color: white;
  left: 411px;
  padding: 20px;
  display: -webkit-inline-box;
  justify-content: flex-start;
  margin-top: 86px;
  margin-left: -83px;
}

.child-stack,
.child-queue,
.child-web {
  border: 2px #ddd dashed;
  padding: 2px 1px 1px 5px;
  color: gray;
  font-family: "Courier New", Courier, monospace;
}

.child-queue {
  overflow-y: scroll;
  width:418%;
}

.child-web {
  padding-left: 18px;
  width: 743px;
  float: left;
}

.c-child-stack {
  padding-bottom: 306px;
  padding-left: 4px;
}

.c-child-web {
  padding-bottom: 306px;
  padding-left: 13px;
}

.c-child-queue {
  padding: 101px;
}

.help {
  float: right;
  background-color: #d80;
  font-size: larger;
  color: white;
  text-decoration: none;
}

.fa-sync-alt {
    font-size: 60px;
    color: darkorange;
    float: left;
}

.fas-fa-sync-alt {
    font-size: 100px;
    color: black;
    float: left;
}

.settings-button {
  border: none;
  background: none;
  color: #eee;
  font-size: 30px;
  margin: 0;
  padding: 0;
  margin-right: 13px;
  margin-top: -5px;
}
